@media (max-width: 991.98px) {
  .right-nav-detail {
    margin-left: 28px;
  }
  .btn-right-nav {
    min-width: 167px;
    margin-left: $size-36!important;
    &--blue {
      margin-top: 10px!important;
    }

  }
}