.kanban-nav {
position: fixed;
  z-index: 1;
  width: 100%;
  background-color: $white-10;
  top: 0;
  padding: 27px 42px;
  a {
    font-family: 'Nunito-Bold', sans-serif;
  }

  .right-nav-detail {
    padding-right: $size-20;
    padding-left: $size-20;
    font-weight: $font-bold;
    color: $gray-70;

    &:hover {
      color: $green-30;
      text-decoration: none;
    }

    &:focus {
      color: $green-30;
    }
  }
}