.btn-right-nav {
  margin-left: $size-20;
  height: $size-42;
  border-radius: $size-20;

  &--gray {
    min-width: 101px;
    background-color: $gray-10;
    color: $gray-70;
    font-weight: $font-600;
    margin-right: $size-20;
    &:hover {
      background-color: $gray-80;
    }
    &:focus {
      box-shadow: none;
    }
  }
  &--blue {
    min-width: 167px;
    box-shadow: 0 3px 8px 0 rgba(0, 128, 255, 0.31);
    background-color: $blue-10;
    color: $white-10;

    &:hover {
      background-color: $blue-30;
      color: $white-10;
    }
    &:focus {
      box-shadow: none;
    }
  }
}

.btn-overview {
  min-width: 182px;
  height: 60px;
  border-radius: $size-4;
  font-size: $size-18;
  &--blue {
    color: $white;
    background-color: $blue-10;
    box-shadow: 0 3px 8px 0 rgba(0, 128, 255, 0.31);
    font-family: 'Nunito-Semibold', sans-serif;

    &:hover {
      background-color: $blue-30;
      color: $white-10;
    }
    &:focus {
      box-shadow: none;
    }
  }
  &--gray {
    background-color: $gray-10;
    color: $gray-70;
    font-family: 'Nunito-Semibold', sans-serif;
    font-weight: $font-600;
    margin-left: $size-20;
    &:hover {
      background-color: $gray-80;

    }
    &:focus {
      box-shadow: none;
    }
  }
}
.video-btn {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $green-30;
  opacity: 0.75;
&:focus {
  box-shadow: none;
}
  &:hover {
    opacity: 1;
    transition: 0.7s;
  }
  .video-play {
    color: $white-10;
  }
}