.kanb-overview {
  h1 {
    font-size: $size-48;
    color: $gray-70;
    font-weight: $font-600;
    font-family: 'Nunito-Semibold', sans-serif;
  }
  h2 {
    font-size: $size-22;
    font-family: 'Nunito-Regular', sans-serif;
    color: $gray-blue;

  }
}