//WHITE
$white-10: #fff;
$white-20: #fbfbfc;

//GRAY
$gray-10: #eceff1;
$gray-20: #d7dde2;
$gray-30: #d7dde2;
$gray-40: #9fa9ba;
$gray-50: #7f8fa4;
$gray-60: #586d79;
$gray-70: #354052;
$gray-80: #e0e5e8;
$gray-blue: #647c8a;


//BLUE
$blue-10: #0080ff;
$blue-20: #0580ff;
$blue-30: #0076eb;
$blue-40: #0056b3;

//GREEN
$green-10: #e1f8f7;
$green-20: #86e5de;
$green-30: #0dccbe;

//FONT-SIZE
$size-4: 0.25rem;
$size-8: 0.5rem;
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-27: 1.6875rem;
$size-28: 1.75rem;
$size-30: 1.875rem;
$size-34: 2.125rem;
$size-35: 2.1875rem;
$size-36: 2.25rem;
$size-38: 2.375rem;
$size-40: 2.5rem;
$size-42: 2.625rem;
$size-44: 2.75rem;
$size-48: 3rem;

//FONT-WEIGHT
$font-normal: 400;
$font-600: 600;
$font-bold: bold;



